In [1]:
import pandas as pd
import numpy as np 
import seaborn as sns
import matplotlib.pyplot as plt

NYC Transit Entrance and Exit Data https://data.ny.gov/Transportation/NYC-Transit-Subway-Entrance-And-Exit-Data/i9wp-a4ja/data
https://data.ny.gov/Transportation/NYC-Transit-Subway-Entrance-And-Exit-Data/i9wp-a4ja

In [2]:
#turnstile = pd.read_csv('./src/NYC_Transit_Subway_Entrance_And_Exit_Data.csv')

In [3]:
def read_mta(file_nums):
    path ='http://web.mta.info/developers/data/nyct/turnstile/turnstile_'
    allFiles = []
    for i in file_nums:
        allFiles.append(path + i + '.txt')
    df_list = [pd.read_csv(file) for file in allFiles]
    df = pd.concat(df_list)
    df.columns = df.columns.str.strip() #Exits Column name has large trailing whitespace
    return df
#get August Data
mta = read_mta(['200801','200808', '200815', '200822', '200829'])

In [28]:
mta=mta.reset_index()

In [5]:
mta.head()

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,07/25/2020,00:00:00,REGULAR,7436571,2527896
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,07/25/2020,04:00:00,REGULAR,7436572,2527900
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,07/25/2020,08:00:00,REGULAR,7436581,2527907
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,07/25/2020,12:00:00,REGULAR,7436611,2527942
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,07/25/2020,16:00:00,REGULAR,7436681,2527962

In [6]:
mta.describe()

            ENTRIES         EXITS
count  1.048190e+06  1.048190e+06
mean   4.255760e+07  3.488466e+07
std    2.171648e+08  1.980052e+08
min    0.000000e+00  0.000000e+00
25%    2.785730e+05  1.186155e+05
50%    1.789391e+06  1.038062e+06
75%    6.449727e+06  4.298302e+06
max    2.128755e+09  2.123244e+09

In [7]:
mta.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1048190 entries, 0 to 217831
Data columns (total 11 columns):
 #   Column    Non-Null Count    Dtype
---  ------    --------------    -----
 0   C/A       1048190 non-null  object
 1   UNIT      1048190 non-null  object
 2   SCP       1048190 non-null  object
 3   STATION   1048190 non-null  object
 4   LINENAME  1048190 non-null  object
 5   DIVISION  1048190 non-null  object
 6   DATE      1048190 non-null  object
 7   TIME      1048190 non-null  object
 8   DESC      1048190 non-null  object
 9   ENTRIES   1048190 non-null  int64
 10  EXITS     1048190 non-null  int64
dtypes: int64(2), object(9)
memory usage: 96.0+ MB

In [8]:
mta.columns

Index(['C/A', 'UNIT', 'SCP', 'STATION', 'LINENAME', 'DIVISION', 'DATE', 'TIME',
       'DESC', 'ENTRIES', 'EXITS'],
      dtype='object')

In [9]:
mta.head()

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,07/25/2020,00:00:00,REGULAR,7436571,2527896
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,07/25/2020,04:00:00,REGULAR,7436572,2527900
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,07/25/2020,08:00:00,REGULAR,7436581,2527907
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,07/25/2020,12:00:00,REGULAR,7436611,2527942
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,07/25/2020,16:00:00,REGULAR,7436681,2527962

In [10]:
#only interested in regular audits. 
mta = pd.DataFrame(mta[mta.DESC == 'REGULAR'])

In [11]:
mta.head()

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,07/25/2020,00:00:00,REGULAR,7436571,2527896
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,07/25/2020,04:00:00,REGULAR,7436572,2527900
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,07/25/2020,08:00:00,REGULAR,7436581,2527907
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,07/25/2020,12:00:00,REGULAR,7436611,2527942
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,07/25/2020,16:00:00,REGULAR,7436681,2527962

In [12]:
mta['datetime'] = pd.to_datetime(mta.DATE+' '+mta.TIME)

In [13]:
mta.head(10)

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS,datetime
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,07/25/2020,00:00:00,REGULAR,7436571,2527896,2020-07-25 00:00:00
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,07/25/2020,04:00:00,REGULAR,7436572,2527900,2020-07-25 04:00:00
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,07/25/2020,08:00:00,REGULAR,7436581,2527907,2020-07-25 08:00:00
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,07/25/2020,12:00:00,REGULAR,7436611,2527942,2020-07-25 12:00:00
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,07/25/2020,16:00:00,REGULAR,7436681,2527962,2020-07-25 16:00:00
5,A002,R051,02-00-00,59 ST,NQR456W,BMT,07/25/2020,20:00:00,REGULAR,7436825,2527978,2020-07-25 20:00:00
6,A002,R051,02-00-00,59 ST,NQR456W,BMT,07/26/2020,00:00:00,REGULAR,7436850,2527985,2020-07-26 00:00:00
7,A002,R051,02-00-00,59 ST,NQR456W,BMT,07/26/2020,04:00:00,REGULAR,7436852,2527989,2020-07-26 04:00:00
8,A002,R051,02-00-00,59 ST,NQR456W,BMT,07/26/2020,08:00:00,REGULAR,7436860,2527998,2020-07-26 08:00:00
9,A002,R051,02-00-00,59 ST,NQR456W,BMT,07/26/2020,12:00:00,REGULAR,7436880,2528015,2020-07-26 12:00:00

In [14]:
#Needs to group by the individual turnstile... this will give LARGE values when changing turnstiles
#mta['n_in'] = mta.ENTRIES.diff()
#mta['n_out'] = mta.EXITS.diff()

In [15]:
#n_in and n_out minimum and maximum values are still unreasonable 
#mta.describe()

In [26]:
mta[mta.index.duplicated()]

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS,datetime
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/01/2020,00:00:00,REGULAR,7439363,2529044,2020-08-01 00:00:00
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/01/2020,04:00:00,REGULAR,7439367,2529046,2020-08-01 04:00:00
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/01/2020,08:00:00,REGULAR,7439379,2529055,2020-08-01 08:00:00
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/01/2020,12:00:00,REGULAR,7439412,2529092,2020-08-01 12:00:00
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/01/2020,16:00:00,REGULAR,7439487,2529108,2020-08-01 16:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...
209756,R622,R123,00-00-01,FRANKLIN AV,2345S,IRT,08/22/2020,08:00:00,REGULAR,306539049,101843431,2020-08-22 08:00:00
209757,R622,R123,00-00-01,FRANKLIN AV,2345S,IRT,08/22/2020,12:00:00,REGULAR,306539146,101843459,2020-08-22 12:00:00
209758,R622,R123,00-00-01,FRANKLIN AV,2345S,IRT,08/22/2020,16:00:00,REGULAR,306539293,101843499,2020-08-22 16:00:00
209759,R622,R123,00-00-01,FRANKLIN AV,2345S,IRT,08/22/2020,20:00:00,REGULAR,306539385,101843538,2020-08-22 20:00:00
209760,R622,R123,00-00-01,FRANKLIN AV,2345S,IRT,08/23/2020,00:00:00,REGULAR,306539442,101843562,2020-08-23 00:00:00

In [29]:
#to avoid the edge cases as the DF changes turnstiles 
mta['n_in'] = mta.groupby(['STATION', 'UNIT', 'C/A', 'SCP'])['ENTRIES'].diff()
mta['n_out'] = mta.groupby(['STATION', 'UNIT', 'C/A', 'SCP'])['EXITS'].diff()

In [ ]:
#create daily entries/exits by Turnstiles
mta['daily_entry'] = mta.groupby(['STATION', 'UNIT', 'C/A', 'SCP', 'DATE']).n_in1.transform('sum')
mta['daily_exit'] = mta.groupby(['STATION', 'UNIT', 'C/A', 'SCP', 'DATE']).n_in1.transform('sum')

In [ ]:
daily = pd.DataFrame(mta[['']])

In [ ]:
mta

In [ ]:
mta[mta.n_in1 == mta.n_in1.max()]

In [ ]:
len(mta)

In [ ]:
sns.boxplot(mta.n_in1)

In [ ]:
mta = mta[mta.n_in1>0]

In [ ]:
len(turnstile['Station Name'].unique())

In [ ]:
len(mta.STATION.unique())

In [ ]:
mta.sample(5)